
// .sticky {
//   padding: 0px;
//   position: fixed;
//   width: 100%;
//   top: 0px;
//   z-index: 10;
// }
.address {
  height: 35px;
  border-radius: 0;
  padding-bottom: 2px;
  padding-right: 2px;
  padding-left: 2px;
  padding-top: 2px;
}
