.footer-back {
  background-color: #322b2b;
}
.footer-copyright{
  background-color: #221d1d;
}
.card-zero-radius{
  border-radius: 0px;
}


.footer-title {
  display: block;
  line-height: 1;
  font-size: 13px;
  font-weight: 400;
  border-width: 0 0 0 3px;
  border-style: solid;
  border-color: #13aff0;
  letter-spacing: 1px;
  padding-left: 15px;
  margin: 0 0 20px;
  text-transform: capitalize;
}
.contact-info {
  float: left;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #e9e9e9;
  color: #13aff0;
  margin-right: 15px;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.store-list {
  border-width: 0 0 0 3px;
  border-style: groove;
  border-color: #0b6186;
  padding-left: 4px;
}

.store-list:hover {
  border-width: 0 0 0 3px;
  border-style: groove;
  border-color: #0982b6;
  padding-left: 10px;
}
