.dark-card {
  background-color: #343a40;
}
.dark-card-header {
  background-color: #19191a;
}
.dark-mcard {
  background-color: #101011;
}
.dark-mcard-header {
  background-color: #030303cc;
}
.dark-nav {
  background-color: #0c0c0c;
}
.dark-nav h1 h2 h3 h4 h5 h6 label span div small {
  color: white;
}
