<app-ui-preloader [display]="isLoading"></app-ui-preloader>
<div class="card p-4" [class.dark-card]='theme.themeDark' [class.text-white]='theme.themeDark' *ngIf="!isLoading">
  <div class="row">
    <div class="col-md-7">
      <form [formGroup]="form" (submit)="onSaveProduct()">
        <div class="form-group">
          <label for="title">Item Name</label>
          <input type="text" id="title" [class.form-control-dark]="theme.themeDark" formControlName="itemName" [ngClass]="{'is-invalid':form.get('itemName').invalid && isSubmit }"  [ngClass]="{'is-invalid':form.get('itemName').invalid && form.get('itemName').touched }"  class="form-control">
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <div class="input-group">
            <span class="input-group-text" [class.form-control-dark]="theme.themeDark">₹</span>
            <input type="number" id="price" [class.form-control-dark]="theme.themeDark" [ngClass]="{'is-invalid':form.get('itemPrice').invalid && form.get('itemPrice').touched }" [ngClass]="{'is-invalid':form.get('itemPrice').invalid && isSubmit }" class="form-control" formControlName="itemPrice">
          </div>
        </div>
        <div class="form-group">
          <label for="category">Category</label>
          <div class="input-group">
            <mat-select  class="form-control" [class.form-control-dark]="theme.themeDark" [ngClass]="{'is-invalid':form.get('itemCategory').invalid && form.get('itemCategory').touched }" [ngClass]="{'is-invalid':form.get('itemCategory').invalid && isSubmit }" formControlName="itemCategory">
              <div class="d-flex bd-highlight" fxLayoutAlign="center stretch"  *ngFor="let cat of categorys" >
                <mat-option class="p-2 flex-grow-1 bd-highlight" value="{{cat.newCategory}}">{{cat.newCategory |titlecase}}</mat-option>
                <button class="p-2 bd-highlight" mat-icon-button (click)="deleteCategory(cat)" color="warn"><mat-icon>delete</mat-icon></button>
              </div>
            </mat-select>
            <button mat-stroked-button color="primary" (click)="addNewCategory()" type="button" placement="bottom" ngbTooltip="Add New Category"><mat-icon>add</mat-icon></button>
          </div>
        </div>
        <div class="form-group">
          <label for="flavors">flavors</label>
          <div class="input-group">
            <mat-select  class="form-control" [class.form-control-dark]="theme.themeDark" [ngClass]="{'is-invalid':form.get('itemflavors').invalid && form.get('itemflavors').touched }" [ngClass]="{'is-invalid':form.get('itemflavors').invalid && isSubmit }" formControlName="itemflavors">
              <div class="d-flex bd-highlight" fxLayoutAlign="center stretch"  *ngFor="let flavor of flavors" >
                <mat-option class="p-2 flex-grow-1 bd-highlight" value="{{flavor.newFlavors}}">{{flavor.newFlavors |titlecase}}</mat-option>
                <button class="p-2 bd-highlight" mat-icon-button (click)="deleteFlavor(flavor)" color="warn"><mat-icon>delete</mat-icon></button>
              </div>
            </mat-select>
            <button mat-stroked-button color="primary" type="button" (click)="addNewFlavor()" placement="bottom" ngbTooltip="Add New Flavors"><mat-icon>add</mat-icon></button>
          </div>
        </div>
        <div class="form-group" >
          <div class="alert alert-danger" role="alert" *ngIf="!imagePreview && isSubmit ">
            Upload Image of Product
          </div>
          <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('itemImage').valid">
            <img [src]="imagePreview" [alt]="form.value.itemName">
          </div>
          <button class="btn btn-outline-primary btn-sm" (click)="filepicker.click()" [ngClass]="{'btn-outline-secondary':theme.themeDark}" type="button">{{upImage}}</button>
          <input type="file" #filepicker (change)="onImagePick($event)">
        </div>
        <button type="submit" class="btn btn-success">
          Save
        </button>
        <button type="reset" class="btn ml-2 btn-danger">
          Clear
        </button>
      </form>
    </div>
    <div class="col-md-5"  *ngIf="imagePreview || form.get('itemName').value">
      <div class="card text-left sa-card" [class.dark-mcard]='theme.themeDark' [class.text-white]='theme.themeDark'>
        <img [src]="imagePreview" class="pri-image">
        <div class="card-body">
          <h1 class="card-title mb-1 itemName">{{ form.get('itemName').value | titlecase }}</h1>
          <span>Category: <small *ngIf="!form.get('itemCategory').value">.......</small> {{form.get('itemCategory').value}} | Flavors : <small *ngIf="!form.get('itemflavors').value">.......</small> {{form.get('itemflavors').value}}</span>
          <h4 class="card-text">{{ form.get('itemPrice').value  | currency:"INR" }}</h4>
        </div>
      </div>
      <!-- <mat-card class="saas-card saas-pointer">
        <mat-card-header>
          <mat-card-title>{{form.get('itemName').value}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="pri-image" [src]="imagePreview" alt="Photo of a Ice-creams">
        <mat-card-content>
          <h1>{{form.get('itemPrice').value |currency:"INR"}}</h1>
          <div class="row">
            <div class="col-4">
              Category :
            </div>
            <div class="col-8">
              <small>{{form.get('itemCategory').value}}</small>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>See more</button>
        </mat-card-actions>
      </mat-card> -->
    </div>
  </div>

</div>
