.product-image {
  width: 150px;
  object-fit: scale-down;
}
.card-footer {
  background-color: white;
}
.quantity {
  position: relative;
  float: left;
  overflow: hidden;
  zoom: 1;
  min-width: 110px;
}
.inputqty {
  width: 100%;
}

.form-control-dark {
  background-color: #12171d;
  border: #101922 solid 1px;
}
