<div class="container" [ngClass]="{'custom-dark-theme':theme.themeDark}">
  <div class="text-center" *ngIf="cart.cartShow.length===0">
    <span>Your Scoops Basket is empty</span>
  </div>
  <div class="card" *ngIf="cart.cartShow.length>0" [class.dark-mcard]='theme.themeDark' [class.text-white]='theme.themeDark'>
    <div class="full-width m-1" *ngFor="let cart of cart.cartShow" [class.dark-card]='theme.themeDark' [class.card]='!theme.themeDark' >
      <div class="card-body d-flex justify-content-between" >
        <div>
          <span>
            <img [src]="cart.product.itemImage" class="product-image" alt="">
          </span>
          <br *ngIf="theme.deviceXs">
          <span class="card-title">
            {{cart.product.itemName}}
          </span>
        </div>
        <div>
          <div class="d-flex justify-content-between">
            <label for="mrp">MRP :</label>
            <span id="mrp"> {{cart.product.itemMRP |currency: "INR"}}</span>
          </div>
          <div class="d-flex justify-content-between">
            <label for="qty">Quantity :</label>
            <span id="qty"> {{cart.productQty }}</span>
          </div>
          <div>
            <div class="d-flex justify-content-between">
              <label for="tp">Total Price :</label>
              <span id="tp"> {{cart.totalPrice |currency: "INR"}}</span>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="pt-0 card-body white d-flex justify-content-between" [class.dark-card]='theme.themeDark'>
        <div>
          <small class="card-text mr-2">
            Flavor : {{cart.product.itemFlavors |titlecase}}
          </small>
          <small class="card-text">
            Category : {{cart.product.itemCategory |titlecase}}
          </small>
        </div>
        <div>
          <button class="btn-sm btn btn-danger" mat-ripple>delete</button>
        </div>
      </div>
    </div>
    <div class="text-right m-2">
      Total Price : {{totalPrice |currency:"INR"}}
    </div>
    <div class="d-flex justify-content-end m-2">
      <button mat-raised-button type="button" [ngClass]="{'btn-block':theme.deviceXs}" color="primary" (click)="addToCart()"> Proceed to Buy </button>
    </div>
  </div>
</div>
