<app-ui-preloader [display]="isLoading"></app-ui-preloader>
<div class="text-center" *ngIf="product.length===0">
  <span>No orders To show</span>
</div>
<div *ngIf="product.length>0">
  <table class="table table-striped table-hover" [class.table-dark]="theme.themeDark" *ngIf="!isLoading">
    <thead>
    <tr>
      <th scope="col">Shop Name</th>
      <th scope="col">Name</th>
      <th scope="col">Product</th>
      <th scope="col">Total Price</th>
      <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let productData of product; index as i">
      <th scope="row">{{ productData.userShop }}</th>
      <th scope="row">{{ productData.userName }}</th>
      <th scope="row" class="pt-0">
        <thead>
          <tr>
            <th scope="col" class=" w-100">Product Name</th>
            <th scope="col">Category</th>
            <th scope="col">Flavors</th>
            <th scope="col">MRP</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pt of productData.products">
            <th scope="row">
              <img [src]="pt.itemImage" class="mr-2" style="width: 30px" [alt]="pt.itemName">{{ pt.itemName }}
            </th>
            <th scope="row">{{ pt.itemCategory }}</th>
            <th scope="row">{{ pt.itemFlavors }}</th>
            <th scope="row">{{ pt.itemMRP |currency:"INR" }}</th>
            <th scope="row">{{ pt.quantity }}</th>
            <th scope="row">{{ pt.totalPrice |currency:"INR"}}</th>
          </tr>
        </tbody>
      </th>
      <th scope="row">{{ productData.totalPrice |currency:"INR"}}</th>
      <th scope="row">
        <span class="badge bg-success btn-block text-dark" [class.bg-warning]="productData.orderStatus==='Panding'" [class.bg-danger]="productData.orderStatus==='Canceled'">{{ productData.orderStatus }}</span>
        <button class="btn-block" ngbTooltip="Confirm/Cancel Order" mat-raised-button color="primary" (click)="onConfirmOrder(productData)">Change Order Status<mat-icon>task</mat-icon></button>
      </th>
    </tr>
    </tbody>
  </table>
</div>

