<div class="card">
    <div class="card-body p-0">
        <div class="apex-charts" dir="ltr">
            <!-- <apx-chart #chart [series]="series" [chart]="chartData" [colors]="colors" [subtitle]="subtitle"
                [tooltip]="tooltip" [labels]="labels" [yaxis]="yaxis" [xaxis]="xaxis" [stroke]="stroke" [title]="title"
                [fill]="fill">
            </apx-chart> -->
            <!-- <jqxChart
                [width]="850" [height]="500"
                [title]="'Top 5 Most Populated Countries'" [description]="'Statistics for 2011'"
                [enableAnimations]="true" [showLegend]="true" [padding]="padding"
                [titlePadding]="titlePadding" [source]="sampleData" [xAxis]="xAxis"
                [valueAxis]="valueAxis" [seriesGroups]="seriesGroups" [colorScheme]="'scheme01'">
            </jqxChart> -->
        </div>
    </div>
</div>
