<app-ui-preloader [display]="isLoading"></app-ui-preloader>
<mat-drawer-container class="example-container" *ngIf="!isLoading">
  <!-- [hasBackdrop]="hasBackdrop.value" -->
  <mat-drawer #drawer [opened]="!theme.deviceXs" [mode]="theme.sideBar">
    <mat-list>
      <div mat-subheader>Categorys</div>
      <mat-list-item *ngFor="let category of categorys" role="button" matRipple (click)="setfilterTerm(category.newCategory)">
        <div mat-line class="ml-3"> {{category.newCategory |titlecase}}</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <div mat-subheader>Flavors</div>
      <mat-list-item *ngFor="let flavor of flavors" matRipple>
        <div mat-line class="ml-3"> {{flavor.newFlavors |titlecase}}</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <div mat-subheader>Price Range</div>
      <mat-list-item>
        <form [formGroup]="valuForm" class="price-sort" (submit)="onPriceSet()" flexLayout="row" flexLayoutAlign="space-between center">
            <input type="text" id="minValue" class="mr-1 btn" placeholder="₹Min" formControlName="minValue" >
            <input type="text" id="maxValue" class="mr-1 btn" placeholder="₹Max" formControlName="maxValue" >
          <button mat-stroked-button type="submit">
            Set
          </button>
        </form>
      </mat-list-item>
      <mat-divider></mat-divider>

    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <!-- <mat-form-field>
      <mat-label>Sidenav mode</mat-label>
      <mat-select #mode value="side">
        <mat-option value="side">Side</mat-option>
        <mat-option value="over">Over</mat-option>
        <mat-option value="push">Push</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Has backdrop</mat-label>
      <mat-select #hasBackdrop>
        <mat-option>Unset</mat-option>
        <mat-option [value]="true">True</mat-option>
        <mat-option [value]="false">False</mat-option>
      </mat-select>
    </mat-form-field> -->
    <div class="p-0 pl-1 m-0" [class.dark-mcard]="theme.themeDark">
      <div *ngIf="theme.deviceXs" fxLayoutAlign="space-between center">
        <button mat-icon-button  (click)="drawer.toggle()" >
          <mat-icon>list</mat-icon>
        </button>
      </div>
    </div>
    <div *ngIf="filteredProducts.length===0" class="container-fluid d-flex flex-wrap mt-1 mb-1 min-vh-100" fxLayout="row" fxLayoutAlign="center center">
      no products in this category "{{this.getfilterTerm()}}"
    </div>
    <div *ngIf="!isLoading || filteredProducts.length>0" class="container-fluid d-flex flex-wrap mt-1 mb-1 min-vh-100" fxLayout="row" fxLayoutAlign="start start"  >
      <div class="card sa-card m-1" *ngFor="let product of filteredProducts" ngbTooltip="Category: {{product.itemCategory}}" [class.dark-card]='theme.themeDark'>
        <img [src]="product.itemImage" class="sa-img rounded mx-auto d-block">
        <div class="card-body pt-0">
          <h1 class="card-title product-title mb-1">{{ product.itemName | titlecase }}</h1>
          <h4 class="card-text">{{ product.itemMRP  | currency:"INR" }}</h4>
        </div>
        <div class="card-footer p-0" [class.dark-mcard]='theme.themeDark' matRipple>
          <button (click)="addToCart(product)" class="btn btn-primary btn-block"> Add to Cart</button>
        </div>
      </div>
    </div>
    <div flexLayoutAlign="center center">
      <mat-paginator [length]="totalProducts"
                [pageSize]="productPerPage"
                [pageSizeOptions]="pageSizeOptions"
                (page)="onChangePage($event)">
      </mat-paginator>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
