.dark-card {
  background-color: #343a40;
  color: white;
}
.dark-card-header {
  background-color: #19191a;
  color: white;
}
.dark-mcard {
  background-color: #191f25;
  color: white;
}
.dark-mcard-header {
  background-image: #030303cc;
  color: white;
}
.dark-nav {
  background-color: #0c0c0c;
  color: white;
}
.dark-nav h1 h2 h3 h4 h5 h6 label span div small {
  color: white;
}
