
.saas-card {
  max-width: 240px;
}

.saas-pointer {
  cursor: pointer;
}
.saas-pointer:hover {
  cursor: pointer;
  border: rgb(109, 30, 30) solid 1px;
  padding: 20px;
}

.pho-back {
  background-color: slategrey;
}
