
.parallax-window {
	min-height: 500px;
  width: 100%;
	background: transparent;
  padding: 5px;
  margin: 0;
}
.parallax-window-dark {
	min-height: 500px;
	background: rgba($color: #000000, $alpha: 0.5);
  padding: 5px;
}

.product-col{
  min-height: 50vh;
}

.parallax-2 {
	min-height: 500px;
	background-color: rgba($color: #fff, $alpha: 0.5);
}

.title-line{
  border-top: white double 2px;
  border-bottom: white double 2px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: large;
  color: red;
  background-color: rgba($color: #fff, $alpha: 0.5);
}

.saas-card {
  max-width: 240px;
}

.saas-pointer {
  cursor: pointer;
}
.saas-pointer:hover {
  border: rgb(109, 30, 30) solid 1px;
  padding: 20px;
}

.pho-back {
  background-color: slategrey;
}

.sa-card{
  width: 290px;
  height: 300px;
}
.sa-img {
  object-fit: scale-down;
  height: 150px;
}
