
.parallax-window {
	min-height: 500px;
  width: 100%;
	background: transparent;
  padding: 5px;
  margin: 0;
}
.parallax-window-dark {
	min-height: 500px;
	background: rgba($color: #000000, $alpha: 0.5);
  padding: 5px;
}

.product-col{
  min-height: 50vh;
}

.parallax-2 {
	min-height: 500px;
	background-color: rgba($color: #fff, $alpha: 0.5);
}

.title-line{
  padding: 8px 0px 8px 0px;
  background-color: #F7F0F082;
  border-style: double;
  border-width: 3px 0px 3px 0px;
  border-color: #ffffff;
}
.title-text {
  color: #F61111;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-shadow: 0px 0px 10px rgb(239 162 46 / 95%);
  mix-blend-mode: multiply;
}
.tag-line {
  color: #FF0000;
  font-size: 80px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.product-title {
  font-size: 20px;
}

.saas-card {
  max-width: 240px;
}

.saas-pointer {
  cursor: pointer;
}
.saas-pointer:hover {
  border: rgb(109, 30, 30) solid 1px;
  padding: 20px;
}

.pho-back {
  background-color: slategrey;
}

.sa-card{
  width: 290px;
  height: 300px;
}
.sa-img {
  object-fit: scale-down;
  height: 150px;
}
