<app-ui-preloader [display]="isLoading"></app-ui-preloader>
<div class="container" [class.dark-mcard]="theme.themeDark" *ngIf="!isLoading">
  <div>
    <ngb-carousel #carousel [interval]="4000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus" (slide)="onSlide($event)">
      <ng-template ngbSlide *ngFor="let product of products; index as i" style="margin: auto;">
        <div class="carousel-caption">
          <h3>{{product.itemName |titlecase}}</h3>
        </div>
        <a  >
          <div class="picsum-img-wrapper text-center pho-back">
            <img [src]="product.itemImage" alt="{{product.itemName}}" height="250px">
          </div>
        </a>
      </ng-template>
    </ngb-carousel>
  </div>
  <!-- class="row row-cols-lg-auto g-3 align-items-center d-flex justify-content-around mt-2" -->
  <div class="row row-cols-lg-auto g-3 align-items-center d-flex justify-content-around mt-2">
    <mat-card class="sa-card saas-pointer mb-2 mr-1" *ngFor="let cat of category" [routerLink]="'/products/'+ cat.newCategory" matRipple>
      <mat-card-header>
        <mat-card-title>Find {{ cat.newCategory }} Ice cream</mat-card-title>
      </mat-card-header>
      <img mat-card-image class="sa-img rounded mx-auto d-block" src="{{cat.categoryImage}}" alt="Photo of a Ice-creams">
      <mat-card-content>
        <p>
           {{cat.newCategory}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<!-- <div class="card p-3 topOnpage">
  <div class="card-header">
    Sign in for the best exprience
  </div>
  <div class="card body">
    <button class="btn btn-primary btn-block">Sign in</button>
  </div>
</div> -->
